<template name="notes">

	<ion-view title="我的笔记" hide-back-button="true">
		<ion-content>

			<ion-nav-buttons side="left">
				<button class="button button-icon icon ion-navicon" menu-toggle="left"></button>
			</ion-nav-buttons>

			<ion-nav-buttons side="right">
				<button class="button button-icon icon ion-plus" ng-click="openNoteModal()"></button>
			</ion-nav-buttons>

			<div class="card" ng-repeat="note in Notes">
				<div class="item item-text-wrap">
					<h2>[[note.title]]</h2>
					<p>[[note.content]]</p>
				</div>
			</div>

		</ion-content>
	</ion-view>

</template>
